.container {
  width: 1000px;
}

/*==================
  Seccion main
  ===================*/
.presentation__content {
  display: flex;
  align-items: center;
}
.presentation__texts {
  width: 50%;
  padding-right: 35px;
  text-align: left;
}
.presentation__h1 {
  font-size: 3.5rem;
  line-height: 50px;
}
.presentation__button {
  margin: 25px 0 0;
}
.presentation__figure {
  width: 50%;
  margin-top: 0;
}

/*==================
  Seccion features
  ===================*/
.features__texts {
  width: 120%;
}
.features__figure_one, .features__figure_three {
  margin-left: 30px;
}

/*==================
  Seccion footer
  ===================*/
.footer__content {
  display: flex;
}
.footer__contact {
  width: 480px;
  margin-right: 40px;
}
.footer__nav {
  width: 470px;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__list li {
  width: 50%;
}
.footer__socials {
  width: 230px;
}
.footer__attribution {
  text-align: right;
}