@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?xtk0nn");
  src: url("../fonts/icomoon.eot?xtk0nn#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?xtk0nn") format("truetype"), url("../fonts/icomoon.woff?xtk0nn") format("woff"), url("../fonts/icomoon.svg?xtk0nn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "";
}

.icon-social:before {
  content: "";
}

.icon-twitter:before {
  content: "";
}

.icon-social1:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-social2:before {
  content: "";
}

/*==============================
  COLORS
  ==============================*/
/*==============================
  FONTS
  ==============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.button {
  display: block;
  width: 280px;
  height: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #00252e;
  background-color: #eee;
  border-radius: 50px;
  box-shadow: 0 3px 10px #ccc;
}

.main {
  padding-bottom: 50px;
  background-color: #ebfbff;
  background-image: url("../images/bg-hero-mobile.svg");
  background-position-y: 78px;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  padding-top: 50px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 150px;
}
.header__button {
  width: 160px;
  background-color: white;
}
.header__try:hover .header__button {
  color: #808d99;
}

.presentation {
  margin-top: 80px;
}
.presentation__content {
  text-align: center;
}
.presentation__h1 {
  padding: 2px;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #00252e;
}
.presentation__p {
  margin-top: 25px;
  padding: 1px;
  font-size: 1.8rem;
  color: #00252e;
}
.presentation__button {
  margin: 25px auto 0 auto;
  color: white;
  background-color: #ff52bf;
}
.presentation__button:hover {
  background-color: #ff52bfc7;
}
.presentation__figure {
  width: 100%;
  margin: 50px auto 0 auto;
}
.presentation__mockups {
  width: 100%;
}

.features {
  margin: 120px 0 250px 0;
}
.features__cards {
  margin: 0 auto;
}
.features__card {
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 25px;
  box-shadow: 0 0 20px #ccc;
}
.features__figure {
  width: 90%;
}
.features__img {
  width: 100%;
}
.features__texts {
  margin-top: 50px;
  text-align: center;
}
.features__h2 {
  margin-bottom: 25px;
  font-size: 2.5rem;
  color: #00252e;
}
.features__p {
  font-size: 1.8rem;
  color: #808d99;
}

.card {
  position: relative;
  width: 100%;
}
.card__box {
  position: absolute;
  top: calc(100% - 100px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%;
  height: 200px;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 -5px 11px #eee;
}
.card__box h2 {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
}
.card__box a {
  margin-top: 0;
}

.footer {
  width: 100%;
  background-color: #00252e;
}
.footer__content {
  padding-top: 230px;
}
.footer__contact {
  margin-bottom: 50px;
}
.footer__logo {
  margin-bottom: 25px;
}
.footer__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: white;
}
.footer__ubication, .footer__phone, .footer__email {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__ubication {
  margin-top: 4px;
  background-image: url("../images/icon-location.svg");
}
.footer__phone {
  background-image: url("../images/icon-phone.svg");
}
.footer__email {
  background-image: url("../images/icon-email.svg");
}
.footer__p {
  width: 90%;
}
.footer__nav {
  margin-bottom: 50px;
}
.footer__list {
  font-size: 1.8rem;
  list-style: none;
}
.footer__list li {
  margin: 25px 0;
}
.footer__list li a {
  color: white;
  text-decoration: none;
}
.footer__list li a:hover {
  text-decoration: underline;
}
.footer .footer__socials {
  margin-bottom: 25px;
  text-align: center;
}
.footer .footer__socials a {
  text-decoration: none;
}
.footer .footer__socials .icon {
  padding: 5px;
  font-size: 5rem;
  color: white;
}
.footer .footer__socials a:hover .icon {
  color: #ff52bf;
}
.footer .footer__attribution {
  padding-bottom: 50px;
  font-size: 1.4rem;
  text-align: center;
  color: #ccc;
}
.footer .footer__attribution p {
  padding: 3px;
}
.footer .footer__attribution a {
  text-decoration: none;
  color: white;
}
.footer .footer__attribution a:hover {
  text-decoration: underline;
  color: #ff52bf;
}