/*==============================
  COLORS
  ==============================*/
$color-buttons: #ff52bf;
$color-title: #00252e;
$color-fonts: #808d99;
$color-background: #ebfbff;

/*==============================
  FONTS
  ==============================*/
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;
